.w-words {
    color: whitesmoke;
}

/* nav */

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}

/* Gradient */

.grad {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
}

.grad-nav {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

/* Sombreado */

.shad {
    box-shadow: 2px 2px 10px #999;
}

/* Cards */

.cborder {
    border: none;
    box-shadow: 2px 2px 10px black;
}

.cheader-n {
    background-color: #A5B2D9;
}

.cbody-n {
    background-color: #e9f0f0;
}

.btn-n {
    background-color: #0560A3;
    border: none;
}

.btn-n:hover {
    background-color: #489CD9;
}

/* Lista de tecnologías */

.tech-list {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.tech-list ul {
    padding-left: 0%;
}

.tech-list ul li {
    background-color: #A5B2D9;
    margin: 5px;
    border-radius: 7px;
    width: 24%;
    list-style: none;
    transition: all 0.75s ease;
}

.tech-list ul li:hover {
    transform: scale(1.3);
}